@import url('https://fonts.googleapis.com/css?family=Playfair+Display');



main {
    height: 80vh;
    color: white;
    margin: 2em auto;
    width: 90%;
}

h2 {
    font-family: 'PlayFair Display', serif;
    line-height: 1.25;
    margin: 0 0 1em;
    font-size: 2em;
    font-weight: bold;
}

article em {
    color: #ff5bad;
}

article {
    padding: 1em;
    font-family: 'PlayFair Display', serif;
    margin: 1em;
    letter-spacing: 0.05em;
    background: #515151;
    text-align: left;
    text-justify: inter-word;
    font-size: 1em;
}

#articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    flex: 1;
}

    article:nth-of-type(3) {
        flex: 2;
    }

    article:nth-of-type(4) {
        flex: 3;
    }

article {
    -ms-flex: 1 300px;
    flex: 1 300px;
}

    article:nth-of-type(3) {
        -ms-flex: 2 600px;
        flex: 2 600px;
    }

    article:nth-of-type(4) {
        -ms-flex: 3 1080px;
        flex: 3 1080px;
    }
    article:nth-of-type(5) {
        -ms-flex: 3 1080px;
        flex: 4 1080px;
    }

@media all and (max-width: 580px) {
    h2 {
        font-size: 6vw;
    }

    article {
        font-size: 3vw;
    }
}
